# MongoDB Connection
# For MongoDB Atlas (cloud):
# MONGODB_URI=mongodb+srv://peterchidera5762_db_user:KuS3agOwvTZuLv1s@silicon.kikux0n.mongodb.net/?appName=Silicon
# For Local MongoDB:
MONGODB_URI=mongodb://localhost:27017/silicon

# JWT Secret - Generate a random secure string
# You can use: openssl rand -base64 32
JWT_SECRET=247cc4a071eeb381da8fc3597516d96c12f111c5f269fc8ab55da7d5ff94d44d76d138d0ea56dd60df3f25feee2fafe76ab92251f5786939d8660807c8e61bd5

# Cloudinary Configuration
# Get these from: https://cloudinary.com/console
CLOUDINARY_CLOUD_NAME=dygacnsmr
CLOUDINARY_API_KEY=741998637995947
CLOUDINARY_API_SECRET=4s5_WRFx2oAvw6YbNFnYYwrUVAA

# Server Configuration
PORT=5000

# Frontend URL
FRONTEND_URL=http://localhost:3000

